.sf_extra3 { background-image: url(img/bg_la5b.jpg);
 }
body { background-color:#8D7E5D; }
.sf_main_header { color:#FFFFFF; }
.sf_sub_header { color:#None; }
.sf_pagetitle { color:#FFFFFF; }
.sf_footer { color:#7D7056; }
.sf_main { background-color:#None; }
.sf_region3 { background-color:#None; }
.sf_navigation { background-color:#None; }
.sf_navigation ul li { background-color:#None; }
body {  background-image: none; }
.sf_navigation ul li a { color:#EAEBCC; }
.sf_navigation ul li a { background-color:#None; }
.sf_navigation ul li a:visited { color:#FFFFFF; }
.sf_navigation ul li a:hover { color:#FFFFFF; }
.sf_navigation ul li a:hover { background-color:#None; }
a { color:#696C01; }
a:link { color:#696C01; }
a:visited { color:#696C01; }
a:hover { color:#8D7E5D; }
body#page_4515cef4-4351-4b31-b8c5-2cb56989e1ef div#content1 { width:94.97%; }
body#page_09f5702c-031a-4e2d-924a-f7d8722db698 div#content1 { width:94.97%; }
body#page_69b0cf25-d8eb-4124-bbd9-b00345682cea div#content1 { width:94.97%; }
body#page_a9c76f7f-41f5-428d-8ced-f7a3028c7247 div#content1 { width:94.97%; }
body#page_aed1e707-fb3e-4b70-9223-726d24d78aff div#content1 { width:94.97%; }